<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign</title>
</head>
<body style="background-color:black;color:white;">
<center style="margin:10%">
<h1>Home page</h1>
<!--{% if user.is_authenticated %}-->
<!--<h3> hello  {{user.username}}</h3>-->
<!--{% endif %}-->

<a href="/signup"><button type="submit">SignUp</button></a>
<a href="/signin"><button type="submit">SignIn</button></a>
<a href="/logout"><button type="submit">SignOut</button></a>
</center>
</body>

</html>