<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:black;color:white;">
<center style="margin:10%">
<form action="/signup/" method="post">
    Username: <input type="text" name="username"><br>
    First Name: <input type="text" name="firstname"><br>
    Last Name: <input type="text" name="lastname"><br>
    Email Address: <input type="email" name="emailaddress"><br>
    Password: <input type="password" name="password"><br>
    Confirm Password: <input type="password" name="con_password"><br>
    {%csrf_token%}
    <button type="submit">SignUp</button>
</form>
</center>
</body>

</html>